
.apresentação{
    scroll-margin-top: 14px;
    margin:19em 1em 3em 1em;
    font-family: 'Courier New', Courier, monospace;
}

.apresentação h2{
    font-size: 4em;
}

.apresentação p{
    color: white;
    font-size: 2em;
}
.prazer{
    color: white;
    font-size: 3em;
}
texto::after {
    content: '|';
    opacity: 1;
    position: inherit;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s 5;}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


@media screen and (max-width: 768px){
    .apresentação{
        position: inherit;
        margin: 10em 3em;
    }
    .apresentação p{
        font-size: 19px;
    }
    .prazer{
        font-size:41px ;
    }
}