.box-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    margin: 11em 9em 6em 2em;
}

#section1,#section2,#section3,#section4{
    scroll-margin-top: 15em ;
    margin-top: 12em;
}

.skill {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}

.title-Skill h2 {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .box-container{
        display: flex;
        flex-direction:column ;
        margin: 0;
    }
}